# / を含まない行
# → .gitignore ファイルのあるディレクトリ以下の全サブディレクトリ下にあるこの名前のファイル or ディレクトリを無視する
# 末尾以外にのみ / を含む行
# → .gitignore が置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるファイル or ディレクトリを無視する
# 末尾だけ / となっている行
# → .gitignore 以下の全サブディレクトリ下にあるこの名前のディレクトリを無視する
# 末尾以外にも末尾にも / を含む行
# → .gitignore が置いてあるディレクトリをカレントディレクトリとする相対パスで指定されるディレクトリを無視する
# ! で始まる行
# → ! 以降のパターン文字列が示すファイル or ディレクトリを無視しない
#    前の無視指定を上書きする
#    以降の無視指定に上書きされうる

# 追加
/.history/
/.logs/
#/asciidoc/**/.asciidoctor/
#/asciidoc/**/fonts/

!.gitkeep
